.accordion {
  border: 1px solid #d9d9d9;
  border-bottom: 0;
  border-radius: 4px;
  width: 300px;
  left: 50px;
  position: absolute;
  top: 50px;
}

.accordion-item {
  border-bottom: 1px solid #d9d9d9;
}

.accordion-item > .header {
  background: #fafafa;
  cursor: pointer;
  padding: 5px;
}

.accordion-item > .content {
  border-top: 1px solid #d9d9d9;
  cursor: pointer;
  padding: 5px;
}

.accordion > .accordion-item:first-child,
.accordion > .accordion-item:first-child > *:first-child {
  border-radius: 4px 4px 0 0;
}

.accordion > .accordion-item:last-child,
.accordion > .accordion-item:last-child > *:last-child {
  border-radius: 0 0 4px 4px;
}
